NODE_ENV=development
PORT=34550

REQ_DOC_SKILL_URL=http://localhost:9001/case-forge/require-skill.md
CASE_DOC_SKILL_URL=http://localhost:9001/case-forge/case-skill.md

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=case-forge
MINIO_PATH_PREFIX=documents

AI_WORKFLOW_INVOKE_URL=
AI_WORKFLOW_STOP_URL=
AI_WORKFLOW_ID=

TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=
TYPEORM_DATABASE=case_forge
